
*{
    font-family: 'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    position: relative;
    z-index: 10;
}

.bar2{
    width: 100%;
    font-size: 16pt;
   box-shadow: 0px 10px 15px black;
   position: relative;
   z-index: 20;
}

.underb{
    margin-top: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;

}

.handbag{

    background-image: url(./reposit/bag.png);
    background-size: cover;
    
}
.watch{

    background-image: url(./reposit/Watch.jpg);
    background-size: cover;
    
}
.shoes{

    background-image: url(./reposit/obuv.jpg);
    background-size: cover;
    
}


.shop{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.shop-img{
    height: 350px;
    object-fit: contain;
}

.wb{
    width: 100%;
}

.price{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.footer-bar{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;

}
.card{
    border: 0px;
}

@media(max-width:576px) {
    .shop{
        grid-template-columns: 1fr ;
        
    }
    .footer-bar{
        grid-template-columns: 1fr ;
    }
    .telefon{
        font-size: 18pt;
    }
    .underb{
        gap: 5px;
        grid-template-columns: 1fr ;
    }
    .bar2{
        font-size: 12pt;
    }
}